<h1>Lab-express-basic-auth - KAT'S PAGE :) </h1>
<p>Welcome to <%= title %>  :) </p>
<br />
<br />
<img src="../images/smiley.png" alt="smiley image" style="width: 150px" />
<br />
<!-- <img src="../images/felix.gif" alt="felix gif" style="width: 400px" /> -->
