<h1>Main Page </h1>

<br />
<img src="../images/kitty.jpg" alt="kitty image" style="width: 400px" />
<br />

<button>
    <a href="/userProfile">Profile page</a>
  </button>

  <button>
    <a href="/userProfile/main">Reload page</a>
  </button>

  <button>
    <a href="/userProfile/private">Private page</a>
  </button>