<h1>Private Page </h1>

<br />
<img src="../images/felix.gif" alt="felix gif" style="width: 400px" />
<br />

<button>
    <a href="/userProfile">Profile page</a>
  </button>

  <button>
    <a href="/userProfile/main">Main page</a>
  </button>

  <button>
    <a href="/userProfile/private">Reload page</a>
  </button>